body {
    font-family: 'Arial', sans-serif;
    background: url('závažia.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.containerintro {
    width: 80%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.menu-left {
    flex: 1;
    height: 2px;
    margin-top: -170px;
    display: flex;
    justify-content: flex-start;
}

.menu-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.tabulka-button {
    display: flex;
    margin-right: 0px;
    margin-top: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.level {
    flex: 1;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: -50px;
}

.container {
    width: 100%;
}

.game-container {
    display: flex;
    padding: 20px;
}

.left-panel {
    width: 15%;
    display: block;
    margin-left: 20px;
    text-align: center;
    align-items: center;
}

.left-panel button {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.left-panel button:hover {
    transform: scale(1.2);
}

.main-area {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-area {
    position: absolute;
    left: 250px;
    bottom: 260px;
    z-index: 3;
}

.draggable-item:active {
    cursor: grabbing;
}

.shelves-container {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    justify-items: center;
    align-items: center;
}

.weight {
    cursor: grab;
    z-index: 6;
    width: 80px;
    height: auto;
}

.weight-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pan {
    overflow: visible;
    position: relative;
    z-index: 3;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#left-pan {
    left: calc(50% - 200px);
    top: 50%;
    transform: translateY(-50%);
}

#right-pan {
    left: calc(50% + 50px);
    top: 50%;
    transform: translateY(-50%);
}

.pan-image-left,
.pan-image-right {
    width: 150px;
    height: auto;
    pointer-events: none;
}

.scale-area {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

#scaleImage {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-45%);
    width: 120%;
    z-index: 1;
}

#rotating-arm {
    position: absolute;
    top: -160px;
    left: 59%;
    transform-origin: center;
    transform: translateX(-50%) rotate(0deg);
    width: 600px;
    z-index: 2;
}

.menu button, .left-panel button {
    background-color: white;
    opacity: 0.8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover, .left-panel button:hover {
    background-color: lightgoldenrodyellow;
}

.task-info {
    margin-top: 150px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding: 10px 10px;
    width: fit-content;
}
